
<div class="title-container">
  <h1>Amex Coding Challenge</h1>
</div>

  <input placeholder="Enter URL" id="url-input"></input>
  <button id='submit-btn'>Submit</button>

<div class="html-container"></div>
